<!-- 

LATIHAN 4 FOR LOOP WITH DIRECTIVE/KEKUATAN SUPER VUE JS

 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ judul }} - Vue JS</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <link rel="stylesheet" href="style.css" />
    <style>
        .active {
            background-color: greenyellow;
        }
    </style>
</head>

<body>

    <!-- Logo and Title -->
    <header>
        <!-- Memanggil derective v-bind:attribut="namaObject" atau :attribut="namaObject" untuk memunculkan attribute source -->
        <img :src="img" alt="Logo">
        <h1 v-html="head"></h1>
        <marquee behavior="scroll" direction="left" v-html="desk"></marquee>
    </header>

    <!-- Membuat class atau id untuk di panggil ke dalam properti el -->
    <div class="container">
        <!-- Card 1 -->
        <div class="card">
            <h1>Memanggil nilai variable ke dalam konten</h1>
            <!-- Memanggil data yang ada di variable dengan tanda {{ namaObject}} -->
            <p>
                Nilai di variable pertama adalah <i>{{ name }}</i>
                <br>
                Nilai di variable kedua adalah <i>{{ message }}</i>
            </p>
        </div>

        <!-- Card 2 -->
        <div class="card">
            <h1>Membuat fungsi computed dan method</h1>
            <p>
                <!-- Memanggil method dengan tanda namaMethod di ikuti () -->
                {{ getName() }}
                <br>
                <!-- Memanggil computed dengan perintah {{ namaComputed }} -->
                {{ infoAge }} Years Old
                <br>
                Nama Lengkap {{ fullName }}
                <br>
                <!-- Memanggil fungsi untuk mengetahui muda atau tidak dengan logika kurang dari 22 adalah muda -->
                Usia {{infoAge}} itu masih {{ infoLook }}
            </p>
            <!-- JavaScript Expression 'Muda = true' & 'Tua = adalah false'-->
            <!-- <p>{{ infoUsia ? 'Muda':'Tua' }}</p> -->
        </div>

        <!-- Card 3 -->
        <div class="card">
            <h1>Contoh penggunaan Derective button</h1>
            <br>
            <!-- Memanggil method dengan tanda namaMethod di ikuti () -->
            <!-- <p>{{ getName() }}</p> -->

            <!-- Memanggil computed dengan perintah {{ namaComputed }} -->
            <!-- <p>{{ infoAge }} Years Old</p> -->
            <!-- <p> Nama Lengkap {{ fullName }}</p> -->

            <!-- JavaScript Expression 'Muda = true' & 'Tua = adalah false'-->
            <!-- <p>{{ infoUsia ? 'Muda':'Tua' }}</p> -->

            <!-- Memanggil fungsi untuk mengetahui muda atau tidak dengan logika kurang dari 22 adalah muda -->
            <!-- <p>Usia {{infoAge}} itu masih {{ infoLook }}</p> -->

            <!-- Memanggil derective v-text="namaObject" untuk memunculkan value text -->
            <!-- <p v-text="fullName"></p> -->
            <!-- <p v-text="infoAge"></p> -->
            <!-- <p v-text="infoLook"></p> -->

            <!-- Memanggil derective v-html="namaObject" untuk memunculkan value html -->
            <!-- <p v-html="viewUs"></p> -->

            <!-- Memanggil derective v-on:click="namaObject" atau dengan @click untuk memanggil fungsi klik-->
            <!-- <button @click="editAge">Ubah Usia</button> -->

            <!-- Membuat class data binding -->
            <button :class="{active: menu === 'home'}" @click="menu = 'home' ">Home</button>
            <button :class="{active: menu === 'about'}" @click="menu = 'about'">About</button>
            <button :class="{active: menu === 'blog'}" @click="menu = 'blog'">Blog</button>
        </div>

        <!-- Card 4 -->
        <div class="card">
            <h1>Mengetahui Bilangan Ganjil/Genap</h1>
            <!-- Memanggil derective v-text="namaObject" untuk memunculkan value text -->
            <p v-text="infoNum()"></p>
            <div class="button-container">
                <!-- Memanggil derective v-on:click="namaObject" atau dengan @click untuk memanggil fungsi klik-->
                <button class="green" @click="plusBtn">Tambah</button>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="card">
            <h1>Mengubah data secara realtime</h1>
            <br>
            <!-- Memanggil dataObject dengan derective v-model="namaData" -->
            <input type="text" v-model="name" placeholder="Masukkan Nama">
            <input type="text" v-model="message" placeholder="Masukkan Pesan">
        </div>


        <!-- Card 6 -->
        <div class="card">
            <h1>Menghitung Luas Persegi Panjang</h1>
            <br>
            <input type="number" v-model="width" placeholder="Masukkan lebar">
            <input type="number" v-model="height" placeholder="Masukkan tinggi">
            <!-- Memanggil fungsi untuk mengetahui luas persegi panjang -->
            <p>Luas Persegi Panjang: {{ luasPersegiPanjang }}</p>
        </div>

        <!-- Card 7 -->
        <div class="card">
            <h1>Memasukan data baru ke array</h1>
            <!-- Memanggil dataObject array dengan perintah derective v-model="namaObjcet"-->
            <p>{{ kelas }}</p>
            <div>
                <!-- Memasukan value atau data baru ke dalam array secara realtime -->
                <label for=""><input type="checkbox" v-model="kelas" value="PHP">PHP</label>
                <label for=""><input type="checkbox" v-model="kelas" value="Python">Python</label>
                <label for=""><input type="checkbox" v-model="kelas" value="Java">Java</label>
            </div>
        </div>

        <!-- Card 8 -->
        <div class="card">
            <h1>Membuat perulangan (1-5)</h1>
            <div>
                <!-- Memanggil fungsi v-for="item adalah inisial data, in atau of adalah inisial atau pembatas, 5 adalah berapa kali di ulanginya " -->
                <span v-for="x in 5"> Perulangan ke-{{ x }}</span>
            </div>
        </div>

        <!-- Card 9 -->
        <div class="card">
            <h1>Memanggil index perulangan (1-3)</h1>
            <div>
                <!-- Memanggil fungsi v-for="(x adalah inisial data, i adalah inisial index data), in atau of adalah inisial atau pembatas, 3 adalah berapa kali di ulanginya " -->
                <p v-for="(x, i) in 3"> Index ke-{{ i }} Perulangan ke-{{ x }}</p>
            </div>
        </div>

        <!-- Card 9 -->
        <div class="card">
            <h1>Memanggil data array dengan perulangan</h1>
            <!-- Memanggil dataObject array dengan perintah derective v-for agar di panggil berulang kali sesuai banyaknya data di array -->
            <ul>
                <!-- Memanggil fungsi v-for="item adalah inisial data, in atau of adalah inisial atau pembatas, kelas adalah nama variable array di model " -->
                <li v-for="item in kelas">{{ item }}</li>
            </ul>
        </div>
    </div>
</body>
<script>
    const judul = new Vue({
        el: 'title',
        data: {
            judul: "Latihan 4"
        }
    });
    const header = new Vue({
        el: 'header',
        data: {
            head: "<i>Contoh Penggunaan VUE JS</i>",
            img: 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Vue.png/220px-Vue.png',
            desk: "Ini adalah contoh pengggunaan VUE JS sederhana, <b>ingat coding itu adalah seni.</b>"
        }
    });

    // Membuat variable dengan nama nilai dan tipe datanya object
    const nilai = {
        name: 'Putra',
        birthday: 2003,
        message: "Hello World!",
        // Nilai javascript expression
        infoUsia: true,
        firstName: 'Jayyid ',
        lastName: 'Saputra',
        viewUs: '<a href="">View US</a>',
        menu: 'home',
        num: 0,
        width: 0,
        height: 0,
        // Membuat variable kelas dengan tipe data array
        kelas: [
            'HTML',
            'CSS',
            'JS'
        ]
    }

    // KODE INSTANCE VUE
    const vm = new Vue({
        // Properti el untuk memanggil element html, .app untuk class & #app untuk id
        el: '.container',
        // Properti data untuk mengambil data sebuah varaible string dan tipe data yang lain
        // data: {
        //     name: 'Putra',
        //     message: "Hello World!"
        // }
        data: nilai,
        // Properti method untuk menambahkan sebuah fungsi seperti di js biasa dengan cache yang bisa deteksi sesuai berapa kali di panggil
        methods: {
            // Bisa di ikutin dengan tag funtion atau biasa saja
            // getname()
            getName: function () {
                // perintah this.namaObject untuk memanggil data pada variable yang tersimpan di Vue
                return "Say, " + this.name; // perintah untuk memanggil nama di variable nilai
            },
            // Menambahkan parameter dengan perintah namaObject(parameter)
            editName(newName) {
                this.name =
                    newName; // Perintah untuk mengubah nilai variable name dengan nilai baru yang sesuai di parameter newName
                return this.getName; // Untuk mengembalikan hasil dari nilai baru di parameter newName
            },
            // Membuat fungsi untuk mengurangi umur ketika button di klik
            editAge() {
                this.birthday--
            },
            // Membuat fungsi untuk mengetahui ganjil/genap
            infoNum() {
                if (this.num % 2 === 0) {
                    return this.num + " Bilangan Genap";
                } else {
                    return this.num + " Bilangan Ganjil";
                }
            },
            // Membuat fungsi untuk menambahkan variable num ketika button di klik
            plusBtn() {
                this.num++;
            }
        },
        // Properti computed untuk menambahkan sebuah fungsi seperti di js biasa dengan cache yang hanya terdeteksi satu kali walaupun perintah nya di panggil beberapa kali
        computed: {
            // Membuat fungsi untuk menghitung usia
            infoAge: function () {
                return 2023 - this.birthday;
            },
            // Membuat fungsi untuk memanggil nama lengkap
            fullName() {
                return this.firstName + this.lastName;
            },
            // Membuat fungsi untuk mengetahui muda atau tidak
            infoLook: function () {
                if (this.infoAge <= "22") {
                    return "muda"
                } else {
                    return "tua"
                }
            },
            // Membuat fungsi untuk menghitung luas persegi panjang
            luasPersegiPanjang() {
                return this.width * this.height;
            }
        }
    })
</script>

</html>